<div class="container">
  <div class="row">
    <div class="col" id="tabla">
      <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn2 fa-solid fa-wrench"></button>
        <h3>Proyectos</h3>
        <button
          type="button"
          class="btn fa-regular fa-square-plus"
          routerLink="/newproyect"
          *ngIf="isLogged"
        ></button>
      </div>

      <div class="content">
        <div *ngFor="let Proyecto of proyecto">
          <div class="botones">
          <div *ngIf="isLogged">
            <button
              class="btn fa-regular fa-pen-to-square"
              routerLink="/editproyect/{{Proyecto.id}}"
            ></button>
          </div>
          <div *ngIf="isLogged" class="delete">
            <button
              class="btn fa-regular fa-trash-can"
              (click)="delete(Proyecto.id)"
            ></button>
          </div>
        </div>
          <div id="pick">
            <img [src]="Proyecto.proyFoto"alt="" />

            <!--ACA VA LA FOTO QUE SUBIMOS-->
            <div id="pickback">
              <h1 class="proytitle">
                {{ Proyecto.proyTitulo }}
              </h1>
              <a href="{{ Proyecto.proyUrl }}" target="_blank">
                <button id="view" type="button">Visit Website..</button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- PROBAMOS CON TABLA.. 


      <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table align-middle table-borderless">
          <thead>
            <tr *ngFor="let Proyecto of proyecto">
              <th>
                <div id="pick">
                  <img src="../../../assets/Fotos/LawOP.jpg" alt="" /> 
                  <div id="pickback">
                    <h1 class="proytitle">
                      {{Proyecto.proyTitulo}}
                    </h1>
                    <a href='{{Proyecto.proyUrl}}' target="_blank">
                      <button id="view" type="button">
                        Visit Website..
                      </button>
                    </a>
                  </div>
                </div>
              </th>
              <th *ngIf="isLogged">
                <button 
                  class="btn fa-regular fa-trash-can"
                  (click)="delete(Proyecto.id)"></button>
              </th>
            </tr>
          </thead>
        </table>
      </div>
-->
