<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Educacion</h3>
        </div>
        <div>
            <button type="button" class="btn btn-primary b" routerLink="/newedu" *ngIf="isLogged">
                Nueva Educacion
            </button>
        </div>

        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreEdu}}{{Educacion.fechaEdu}}</td>
                    <td>{{Educacion.descripEdu}}</td>
                    <td *ngIf="isLogged">
                        <button class="" routerLink="/editedu/{{Educacion.id}}">
                            Editar
                        </button>
                    </td>
                    
                    <td *ngIf="isLogged">
                        <button class="" (click)="delete(Educacion.id)">
                            Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>