* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #faebd7;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.row {
    margin: 0;
    align-items: center;
    padding: 10px 20px;
}

img {
    
}

@media (min-width: 576px) {
    #perfil {
        position: relative;
        height: 360px;
        width: 360px;
        border-radius: 100%;
        background-color: #144f5e;
    }
}
