* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    background-color: rgb(251, 252, 252);
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    padding:0px;
    height: 400px;
    max-width: 100%;
}

.row {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

div {
    padding: 10px;
    margin: 5px;

}

.title {
    max-width: 550px; 
}

.btn {
    background-color:  transparent;
    border: none;
    font-size: 70px;
}

.btn2 {
    border: none;
    font-size: 45px;
}

.inFoot{
    border: 1px solid rgb(28, 40, 51);
    width: 400px;
}
