<div class="container">
  <div class="row">
    <div class="form-group">
      <button type="button" class="btn fa-brands fa-fly">
        <a href=""></a>
      </button>
    </div>
    <div class="title">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        facilis vel deleniti sint suscipit magni, possimus eaque soluta. Magnam
        eveniet ex porro quis doloribus possimus a provident dignissimos
        eligendi laboriosam!
      </p>
    </div>
    <div>
      <form>
        <h3>Send me a message..</h3>
        <div class="form-group">
          <input
            type="email"
            class="inFoot"
            id="emailFoot"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <textarea
            class="inFoot"
            id="mesFoot"
            placeholder="Message"
            rows="4"
          ></textarea>
        </div>
        <div class="form-group text-xs-right">
        </div>
        <div>
          <button class="btn2 fa-solid fa-envelopes-bulk"></button>
        </div>
      </form>
    </div>
    <span>Copyright © 2022, All Right Reserved</span>
  </div>
</div>
