<div class="container">
  <div class="row">
    <div class="form-group">
      <button
        type="button"
        class="btn fa-brands fa-fly"
        (click)="onClick()"
      ></button>
    </div>
    <div class="title">
      <p>
        El exito es la suma de pequeños esfuerzos repetidos dia tras dia...
      </p>
    </div>
    <!-- El contacto lo dejamos para mas adelante.. Parte Back-End 
    <div>
      <form>
        <h3>Send me a message..</h3>
        <div class="form-group">
          <input
            type="email"
            class="inFoot"
            id="emailFoot"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <textarea
            class="inFoot"
            id="mesFoot"
            placeholder="Message"
            rows="4"
          ></textarea>
        </div>
        <div class="form-group text-xs-right">
        </div>
        <div>
          <button class="btn2 fa-solid fa-envelopes-bulk"></button>
        </div>
      </form>
    </div>
-->

    <span>Copyright © 2022, All Right Reserved</span>
  </div>
</div>
