* {
    background-color:  rgb(251, 252, 252);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.Derecha{
    display: flex;
    align-items: center;

}