<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Experiencia</h3>
        </div>
        <div>
            <button type="button" class="btn btn-primary b" routerLink="/newexp" *ngIf="isLogged">Nueva Experiencia</button>
        </div>

        <table class="table">
            <tbody>
                <tr *ngFor="let ExpLaboral of experiencia">
                    <td>{{ExpLaboral.nombreExp}}</td>
                    <td>{{ExpLaboral.descripExp}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>