* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    margin-top: 40px;
}



.form-group > label {
    display:flex;
    justify-content: center;
    align-self: center;

    font-size: 29px;
    color:rgb(245, 245, 245, 0.9);
    width: 300px;
    height: 40px;

}

.form-group > input {
    display: flex;

    text-align: center;
    
    width: 300px;
    height: 48px;
    font-size: 20px;
    margin-top: 3px;

    border: none;
    border-radius: 4px;
    background-color: rgb(245,245,245);
}

.form-group > textarea {
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(245,245,245);
}

.Btnsend {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 100px;
}

.btn2 {
    height: 70px;
    width: 80px;
    font-size: 60px;
    border:none;
    color: rgb(245, 245, 245);
    background-color: #144F5E;
    
}

.btn2:hover {
    color: rgb(245, 245, 245, 0.9);
    background-color: #144F5E;
}
