<div class="container">
    <!--------------------------------- HTML -------------------------->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51);'"
          [titleColor]="'rgb(28, 40, 51);'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'HTML'"
          [subtitleFontSize]="'45px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'rgba(0,150,210, 0.8)'"
          [outerStrokeWidth]="18"
          [outerStrokeColor]="'#19E5E6'"
          [innerStrokeWidth]="5"
          [innerStrokeColor]="'rgba(0,150,210)'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    <!--------------------------------- CSS -------------------------->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="70"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51);'"
          [titleColor]="'rgb(28, 40, 51);'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'CSS'"
          [subtitleFontSize]="'45px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
    
          [outerStrokeGradientStopColor]="'rgb(255, 20, 143)'"
          [outerStrokeWidth]="18"
    
          [outerStrokeColor]="'#fc4b08'"
          [innerStrokeWidth]="5"
    
          [innerStrokeColor]="'rgb(255, 20, 143)'"
          
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    <!--------------------------------- TYPESCRIPT -------------------------->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="68"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51)'"
          [titleColor]="'rgb(28, 40, 51)'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'TYPESCRIPT'"
          [subtitleFontSize]="'29px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'rgba(255, 117, 20)'"
          [outerStrokeWidth]="18"
          [outerStrokeColor]="'#FFFF00'"
          [innerStrokeWidth]="5"
          [innerStrokeColor]="'rgba(255, 117, 20)'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    <!--------------------------------- JAVASCRIPT -------------------------->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="55"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51);'"
          [titleColor]="'rgb(28, 40, 51);'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'JAVASCRIPT'"
          [subtitleFontSize]="'29px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'rgba(255, 0, 0)'"
          [outerStrokeWidth]="18"
          [outerStrokeColor]="'#FF3B1F'"
          [innerStrokeWidth]="5"
          [innerStrokeColor]="'rgba(255, 0, 0)'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    <!--------------------------------- SQL -------------------------->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51);'"
          [titleColor]="'rgb(28, 40, 51);'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'SQL'"
          [subtitleFontSize]="'45px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'rgba(69, 255, 31)'"
          [outerStrokeWidth]="18"
          [outerStrokeColor]="'#00BB2D'"
          [innerStrokeWidth]="5"
          [innerStrokeColor]="'rgba(69, 255, 31)'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    <!--------------------------------- INGLES ------------------------ -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <circle-progress
          [percent]="90"
          [radius]="100"
          [clockwise]="true"
          [responsive]="true"
          [startFromZero]="false"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [space]="10"
          [showUnits]="true"
          [unitsColor]="'rgb(28, 40, 51);'"
          [titleColor]="'rgb(28, 40, 51);'"
          [titleFontSize]="'30px'"
          [unitsFontSize]="'30px'"
          [subtitle]="'INGLES'"
          [subtitleFontSize]="'44px'"
          [subtitleColor]="'rgb(28, 40, 51);'"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'rgba(195, 51, 201)'"
          [outerStrokeWidth]="18"
          [outerStrokeColor]="'#E5A2E8'"
          [innerStrokeWidth]="5"
          [innerStrokeColor]="'rgba(195, 51, 201)'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
    
    
    
    </div>