<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Educacion</h3>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="fotoSecun"></div>
            <h4>Secundaria</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et delectus numquam sint doloribus. Sint quod, voluptate sed repellendus similique tempore illum molestiae veritatis ratione iure eligendi, ipsam nisi officia delectus! </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="fotoIng"></div>
            <h4>Ingenierias</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque eaque hic ipsum, amet repellendus officiis ad, eveniet autem sit reiciendis consequuntur quisquam architecto vitae ipsam, magni omnis saepe! Doloremque? </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="FotoCurso"></div>
            <h4>Curso de ventas y Administracion</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloremque suscipit, reprehenderit excepturi repudiandae, natus dolore ea quam quasi harum modi culpa nihil sapiente veniam. Distinctio dolor doloribus fugiat architecto? </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="FotoFullStack"></div>
            <h4>Curso Full Stack Developer</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere ratione voluptatem possimus maxime doloremque quod vel eveniet ipsam repudiandae, fugit amet atque accusamus doloribus rem eligendi quibusdam cupiditate blanditiis? Molestiae? </p>
        </div> 

    </div>
</div>