<div class="container" *ngIf="persona">
    <div class="row">
      <div>
        <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="persona.nombre"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              [(ngModel)]="persona.apellido"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="titulo"
              name="titulo"
            
              [(ngModel)]="persona.titulo"
              required
            >
          </div>
          <div class="form-group">
            <textarea
              type="text"
              class="form-control"
              id="descripPer"
              name="descripPer"  
              rows="8"
              cols="50"
              [(ngModel)]="persona.descripPer"
              required
            ></textarea>
          </div>
          <div class="Btnsend">
              <button class="btn2 fa-solid fa-icicles"></button>
            </div>
        </form>
      </div>
    </div>
  </div>