* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  rgb(28, 40, 51);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;

    max-width: 60%;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-width: 100%;
}

.div {
    margin: 20px;
    padding: 20px;
}

.perfil {
    width: 360px;
}

.descrip {
    width: 600px;
}

.group {
    width: 600px;
}

h1 {
    font-size: 60px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 2s0px;
}



@media (min-width: 576px) {
    #perfil {
        position: relative;
        height: 360px;
        width: 360px;
        border-radius: 100%;
        background-color: #144f5e;
    }
}
