<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="../../../assets/Fotos/Perfil.jpg" id="perfil">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <h2 id="nombre"> {{persona.nombre}} {{persona.apellido}}</h2>
                <h3>Full Stack Developer Jr</h3>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum veritatis aut similique. </p>
            </div>
        </div>

    </div>
</div>