<div class="container">
  <div class="row">

    <div class="perfil">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="../../../assets/Fotos/Perfil.jpg" id="perfil" />
      </div>
    </div>

    <div class="descrip">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- BOTON DE EDICION
          <div *ngIf="isLogged" class="divbtn">
            <button
              class="btn fa-regular fa-pen-to-square"
              routerLink="/editsobremi/{{persona.id}}"
            ></button>
          </div>
          -->
          <div class="group">
            <h1 id="nombre" class="tittle animate__bounceIn-2">
              {{ persona.nombre }} {{ persona.apellido }}
            </h1>
          </div>
          <div class="group">
            <h2>{{ persona.titulo }}</h2>
          </div>
          <div class="group">
              {{ persona.descripPer }}
          </div>

      </div>
    </div>
  </div>
</div>

