* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	width:100%;
    margin: auto;
	max-width:725px;
	min-height:900px;
	position: relative;
	background:url(../../../assets/Fotos/LawOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-form {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    position:absolute;
    margin-bottom: 3px;
    padding: 90px 70px 50px 70px;
    background:rgba(40,57,101,.9);

}

.tab {
    text-align: center;
    font-size: 40px;
    padding: 15px;
    color: rgb(255, 255, 255);
}

.group {
    display:flex;
    flex-direction: column;
    justify-content: space-between;


}

.errores {
    height: 50px;
}
.error {
    height: 30px;
    margin-bottom: 3px;

    font-size: 29px;
    color: white;
}



.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 200px;
	height: 50px;

    padding: 5px 5px;
    margin-bottom: 60px;
	border-radius: 2px;
	background:rgba(255,255,255,.1);
}

.form-label {
    display:flex;
    justify-content: center;

    font-size: 31px;
    color:rgb(245, 245, 245, 0.9);
    width: 150px;
    height: 40px;

}

.form-input {
    border: none;
    font-size: 40px;
    margin-top: 3px;

    width: 300px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(245,245,245);
}
.formBtn {
    font-size:32px;
    border-radius: 10px;
    border: none;
    width: 210px;
    height: 60px;
}

.formBtn:hover {
    color: rgb(245, 245, 245);
    background-color: rgba(111, 76, 167, 0.868);
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

