<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onePiece">
            <div class="esfera1"><img src="../../../assets/Fotos/Banner/Esfera1.png"></div>
            <div class="oneP"><img src="../../../assets/Fotos/Banner/cover-one-piece-preview.png" alt=""></div>
            <div class="twoP"><img src="../../../assets/Fotos/Banner/sunnygo.png" alt=""></div>
            <div class="jujutsu"><img src="../../../assets/Fotos/Banner/Jujutsu_Kaisen_logo_in_Japan.png"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo">
        <div class="title"><img src="../../../assets/Fotos/Banner/Titulologo2.png"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rickmorty">
            <!-- Esfera4, carta3, carta2, carta1  -->
            <div class="happy"><img src="../../../assets/Fotos/Banner/happy.png"></div>
            <div class="pikachu"><img src="../../../assets/Fotos/Banner/pikachu.png"></div>
            <div class="morty"><img src="../../../assets/Fotos/Banner/rick.png" alt=""></div>
            <div class="picklerick">
                <div class="titlerick"><img src="../../../assets/Fotos/Banner/TitleRick-removebg-preview.png" alt=""></div>
                <div class="rick"><img src="../../../assets/Fotos/Banner/PickleRick2-removebg-preview.png" alt=""></div>   
            </div>            
        </div>

    </div>    
</div>