* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    min-height: 600px;
    height: auto;
    background-image: url(../../../assets/Fotos/Banner/Escritorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.titulo {
    display: flex;
    flex-direction: row;
    height: 150px; 
    align-self: center;
    color: white;
    padding: 30px;
}
