
* {
    margin: 0px 0px;
    padding:  0px 0px;
    box-sizing: border-box;
    font-family: 'Patrick Hand';
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(251, 252, 252);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(251, 252, 252);
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(28, 40, 51);
}



/*
Colores:
    rgb(28, 40, 51); OSCURO
    rgb(251, 252, 252); CLARO 
#144F5E;
*/